.section {
  display: flex;
  align-items: center;
  color: rgb(195, 184, 183);
  margin-top: 1em;
  margin-left: 2em;
}

.user {
  text-align: center;
}
.avatar {
  background-color: rgb(20, 20, 20);
  color: black;
}
.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  /* justify-content: center; */
}

.id {
  font-size: 0.8em;
}

.data {
  font-size: 1.3em;
}
.date {
  width: 150px;
  text-align: right;
  margin-right: 1em;
  /* background-color: antiquewhite; */
}

.delete {
  margin-right: 1em;
  background-color: black;
  border: none;
  border-radius: 20px;
  color: rgb(195, 184, 183);
  margin-left: 2em;
}

button:hover {
  cursor: pointer;
  background-color: gray;
}

button:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}
.icon {
  height: 1.5em;
  width: 1.5em;
}
