.detail {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.column {
  width: 10em;
  text-align: center;
}
.dateForm {
  display: flex;
  flex-direction: column;
}
