.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4vh;
  padding: 2rem;
  background-color: black;
  color: rgb(195, 184, 183);
  cursor: pointer;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.logo_back {
  color: #61b673;
}

.navbar {
  font-size: 1.5rem;
}
.navbar:hover {
  color: yellow;
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.active {
  color: yellow;
}
