.section {
  min-height: 100vh;
  background-color: black;
  color: white;
}
.date {
  display: flex;
  /* border: double; */
  border-color: #c6b7b7;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 1rem;
  overflow: auto;
  gap: 1rem;
  cursor: pointer;
}
label {
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid transparent;
}
.dateForm {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  padding: 0 1rem;
}
.dateForm:hover {
  color: yellow;
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.date {
  -ms-overflow-style: none;
}
.date::-webkit-scrollbar {
  display: none;
}
.activeDate {
  color: yellow;
  border-color: yellow;
}
.day {
  display: none;
}

input:checked + label {
  border-radius: 99px;
  border: 2px solid red;
}

input:hover + label {
  color: yellow;
}

.match {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.text {
  font-size: x-large;
  text-align: center;
}
.img {
  width: 300px;
  height: 330px;
}
.noneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
