.cardForm {
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(25, 25, 25);
  border-radius: 5%;
}

.card:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.card {
  width: 300px;
  height: 170px;
  margin-bottom: 1em;
  /* pointer-events: none; */
}
.card iframe {
  pointer-events: none;
}
.textForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.title {
  font-size: x-large;
}
.subTextForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.date {
  font-size: 0.9em;
  margin-top: 5px;
  align-self: flex-end;
  margin-right: 15px;
}
.bookmark {
  cursor: pointer;
  /* width: 5rem; */
}
.recom {
  font-size: 0.8em;
  margin-top: 5px;
  align-self: flex-end;
  margin-right: 15px;
}
